.rts-ui__button {
  min-width: 200px;
  width: 100%;
  min-height: 40px;
  height: 100%;
  padding: 12px;
  border: none;

  border-radius: 5px;
  background-color: #61dafb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
