$primary: #61dafb;
$primary--dark: #3d8aa0;
$danger: #e0304d;
$white: #ffffff;
$whitesmoke: #f3f3f3;
$success: rgb(67, 212, 67);
$warning: rgb(245, 193, 21);

.rts-ui {
  &__toast {
    z-index: 9999;
    position: fixed;

    .toast-component {
      margin: 8px;
      min-width: 320px;
      min-height: 60px;
      position: relative;

      box-sizing: border-box;
      padding: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .toast-close {
        position: absolute;
        top: 20px;
        right: 20px;
        fill: white;

        &--normal {
          fill: black;
        }
      }

      &--normal {
        background-color: $whitesmoke;
        color: black;
      }

      &--success {
        background-color: $success;
        color: white;
      }

      &--error {
        background-color: $danger;
        color: white;
      }

      &--info {
        background-color: $primary--dark;
        color: white;
      }

      &--warn {
        background-color: $warning;
        color: white;
      }
    }

    &.toast--top-right {
      top: 16px;
      right: 16px;
    }
  }
}
