@import "src/styles/mixins";
@import "src/styles/variables";

.rts-ui {
  &__text-input {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    position: relative;

    &__input {
      padding: 15px 2px 8px 5px;
      min-width: 330px;
      font-size: 16px;

      &:focus {
        outline-color: $primary;
      }

      &.--onerror {
        outline-color: $danger;
      }

      &.--nolabel {
        padding: 8px 2px 8px 5px;
      }
    }
    &__label {
      font-size: 11px;
      position: absolute;
      left: 5px;
      top: 1px;
      @include rts-ui--unselectable;

      &.--onfocus {
        color: $primary--dark;
      }

      &.--onerror {
        color: $danger;
      }
    }
  }
}
