@import "src/styles/mixins";
@import "src/styles/variables";

select.rts-ui__select {
  padding: 8px;

  &:focus {
    border: solid 1.5px $primary;
  }
}

.rts-ui {
  &__select {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 200px;
    min-width: 200px;
    padding: 4px;
    min-height: 25px;
    position: relative;

    background-color: $white;

    border: solid 1.5px $primary;
    border-radius: 4px;

    &:hover {
      @include rts-ui--pointer;
    }

    select {
      display: none;
    }

    label {
      padding-left: 4px;
    }

    &__arrow {
      right: 8px;
      top: 6px;
      position: absolute;
    }

    &__option_panel {
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1000;
      margin-top: -3px;

      background-color: $white;
      max-height: 200px;

      border: inherit;
      width: inherit;

      ul {
        margin: 0px;
        padding: 0px;

        li {
          list-style: none;
          padding: 6px;

          &:hover {
            background-color: $whitesmoke;
          }

          &.rts-ui__select__option--selected {
            background-color: $whitesmoke;
          }
        }
      }
    }
  }
}
