.rts-ui__datepicker input[type="datetime-local"] {
  min-width: 330px;
  padding: 15px 2px 8px 5px;
  outline: none;
  min-width: 330px;
  font-size: 16px;
  border: solid 1.8px #61dafb;
}

.rts-ui__datepicker:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
